body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}
.grid {
  background-color: aliceblue;
}
