body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}
.grid {
  background-color: aliceblue;
}

.title {
  margin: 40px 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-weight: 600;
}

.btns {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 100px;
  padding: 10px 10px;
}

.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
